<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Project A</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/button.min.css">
		
		<!--FAVICON-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    		
		<style>
		  body {
        background-color:  rgb(48, 84, 193);
      }
      
      .container {
        background-color: white;
      }
		</style>
	</head>
	<body>
	  <!------- NAVBAR ------->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Project A</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <!--<ul class="nav navbar-nav">-->
        <!--  <li><a href="#">Log in</a></li>-->
        <!--  <li><a href="#">Register</a></li>-->
        <!--</ul>-->
        <ul class="nav navbar-nav navbar-right">
		       <li><a href="startups">Startups</a></li>
					 <!--<li><a href="videos">Videos</a></li>-->
					 <li><a href="fitness">Fitness</a></li>
					 <li><a href="tennis">Tennis</a></li>
					 <!--<li><a href="cart">Cart</a></li>-->
					 <!--<li><a href="taxes">Taxes</a></li>-->
					 <!--<li><a href="entrepreneurs">Entrepreneurs</a></li>-->
					 <li><a href="blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
		
		

		<!------- CONTAINER ------->
		<div class="container">

		
		
		
		