<% include layouts/header %>

<!--<h1>Goal</h1>-->
<!--<p>My mission is to create a website that helps people understand who I am trying to become.</p>-->
<!--<p>Through various channels, I will be able to share ways in which I try to be more efficient and effective everyday.</p>-->
<!--<p>I'll have sections for self-improvement in many different fields:</p>-->
<!--<ul>-->
<!--  <li>Web Development</li>-->
<!--  <li>Fitness</li>-->
<!--  <li>Making Money as an Entrepreneur</li>-->
<!--  <li>...and many more!</li>-->
<!--</ul>-->

<h1>About Page</h1>


<% include layouts/footer %>
