<% include layouts/header %>

<h1 class="text-danger">April Plan - Last Two Weeks (as of 4/14/17) </h1>
<h2>Resources/To-Do List</h2>
<ul>
  <li><a href="https://github.com/freeCodeCamp/freeCodeCamp">Free Code Camp - Build Portfolio</a></li>
    <ol>
      <li>Front-End Certification</li>
        <ul>
          <li>Build 10 font-end projects, implementing many js algorithms</li>
        </ul>
      <li>Data Visualization Certification</li>
       <ul>
         <li>Build 5 React apps</li>
         <li>Build 5 Data Visualization apps (using D3.js)</li>
       </ul>
      <li>Back-End Certification</li>
      <ul>
        <li>Build 5 APIs</li>
        <li>Build 5 full-stack apps</li>
      </ul>
      <li>Full-Stack Certification</li>
      <ul>
        <li>Work on 2 projects from scratch</li>
        <li>Maintain/upgrade 2 existing projects</li>
      </ul>
    </ol>
  <li>Books</li>
  <ol>
    <li><a href="https://github.com/getify/You-Dont-Know-JS">You Don't Know JS</a></li>
    <li>Eloquent JS</li>
  </ol>
  <li>Miscellaneous</li>
  <ol>
    <li><a href="https://github.com/toddmotto/public-apis" />Public APIs</li>
    <li><a href="https://medium.freecodecamp.com/the-10-github-repos-people-mention-the-most-in-freecodecamps-main-chat-room-189750600fa4">10 Most Popular Github Repos</a></li>
  </ol>
</ul>


<% include layouts/footer %>