<% include layouts/header %>

<h2>Shopping Cart</h2>

<div class="container" style="border: 2px solid black;">

<ol>
  <li>
    <h3>Raspberry Pi 3</h3>
  </li>
  <ul>
    <li>
      <a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b/">Specs</a>
    </li>
    <li>
      <a href="https://www.amazon.com/Raspberry-Pi-RASPBERRYPI3-MODB-1GB-Model-Motherboard/dp/B01CD5VC92/ref=sr_1_4?s=pc&ie=UTF8&qid=1491407068&sr=1-4&keywords=raspberry+pi+3">Amazon</a>
    </li>
    <li>
      <a href="https://camelcamelcamel.com/Raspberry-Pi-RASPBERRYPI3-MODB-1GB-Model-Motherboard/product/B01CD5VC92">Camel Stats</a>
    </li>
  </ul>
</ol>
</div>
<% include layouts/footer %>
