<% include layouts/header %>

<h2>Fitness Page</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZewGON5hJPk?ecver=1" frameborder="0" allowfullscreen></iframe>

<% include layouts/footer %>