<% include layouts/header %>

<h1>Home Page!</h1>

<a href="/about">About</a>

<img src="https://i.ytimg.com/vi/XWWVa2fZLPI/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=-gGEB8zKfmEalGVhhLCEOt4kmog"></img>

    <div class="container">
      <h1>Entrepreneurship Links</h1>

      <div class="container">
        <h2>Articles</h2>
        <p><a href="https://levels.io/choosing-entrepreneurship/">Blog Post: Choosing Entrepreneurship - Pieter Levels</a><p>
      </div>

      <div class="container videos">
        <h2>Videos</h2>

        <!-- <iframe width="420" height="315" src="https://www.youtube.com/watch?v=FZzKhfYNYoQ"></iframe> -->

        <p>
          <img src="https://i.ytimg.com/vi/FZzKhfYNYoQ/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=f6xwBjrsqJj4iFAP_yK24Fl9mkg" alt="">
          <a href="https://www.youtube.com/watch?v=FZzKhfYNYoQ">Society Trap - Joe Rogan</a>
        <p>

        <p>
          <img src="https://i.ytimg.com/vi/Xbp6umQT58A/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=K1Lorvk3uoteqpCNs_Zq3F6rxzA" alt="">
          <a href="https://www.youtube.com/watch?v=Xbp6umQT58A&index=13&list=PLu3x48LBDno6RWfDXD4m9DfAFpcXtXbDk">The Story of Your Enslavement</a>
        </p>

        <p>
          <img src="https://i.ytimg.com/vi/gg23Y9Ua4qE/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=Ee7s3vFrSoYgfsU9zIfLdtHuwmE" alt="">
          <a href="https://www.youtube.com/watch?v=gg23Y9Ua4qE&t=1372s">How to Start Up a Business - Elon Musk</a>
        </p>

        <p>
          <img src="https://i.ytimg.com/vi/OfW8d7NEN9g/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=67&sigh=54296mJ5k_cgo9Ku9s-XfynkSEA" alt="">
          <a href="https://www.youtube.com/watch?v=OfW8d7NEN9g">The Airbnb Story - Brian Chesky</a>
        <p>

        <p>
          <img src="https://i.ytimg.com/vi/4IYOZ6H0UNk/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=67&sigh=kpxM515VZ1zde_zNtlyGKFsyUqY" alt="">
          <a href="https://www.youtube.com/watch?v=4IYOZ6H0UNk">1 billion digital nomads in 2035</a>
        </p>

        <p>
          <img src="https://i.ytimg.com/vi/w4HGVJjqDVk/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=PmiVwSWfirJRNPsJLfvyC1kWQVY" alt="">
          <a href="https://www.youtube.com/watch?v=w4HGVJjqDVk">Bitcoin</a></img>
        </p>

        <div class="container commencement">
          <h3>Commencement Speeches</h2>
          <p><a href="https://www.youtube.com/watch?v=ikAb-NYkseI&index=4&list=PLu3x48LBDno6RWfDXD4m9DfAFpcXtXbDk">Neil Gaiman</a></p>
          <p><a href=""></a></p>
          <p><a href=""></a></p>
          <p><a href=""></a></p>
        </div>

        <div class="container philisophical">
          <h3>Philosophical</h2>

          <p>
            <img src="https://i.ytimg.com/vi/XWWVa2fZLPI/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=-gGEB8zKfmEalGVhhLCEOt4kmog" alt="">
            <a href="https://www.youtube.com/watch?v=XWWVa2fZLPI&index=9&list=PLu3x48LBDno6RWfDXD4m9DfAFpcXtXbDk">This Will Change Your Mind - Alan Watts</a>
          </p>

          <p>
            <img src="https://i.ytimg.com/vi/Xbp6umQT58A/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=K1Lorvk3uoteqpCNs_Zq3F6rxzAs" alt="">
            <a href="https://www.youtube.com/watch?v=Xbp6umQT58A&index=13&list=PLu3x48LBDno6RWfDXD4m9DfAFpcXtXbDk">The Story of Your Enslavement</a>
          </p>

        </div>
    </div>
  </div>

<% include layouts/footer %>