<h1>Home Page!</h1>

<a href="/about">About</a>

<img src="https://i.ytimg.com/vi/FZzKhfYNYoQ/hqdefault.jpg?custom=true&w=336&h=188&stc=true&jpg444=true&jpgq=90&sp=68&sigh=f6xwBjrsqJj4iFAP_yK24Fl9mkg"></img>