<% include layouts/header %>

<div class="jumbotron">
  <h1 class="display-3">6 Startups in 6 Months</h1>
  <p class="lead">My goal is to basically do what Pieter Levels did (<a href="https://levels.io/12-startups-12-months/">12 Startups in 12 Months</a>) - I'll just have half as many projects.</p>

  <!--<p>Recent improvements in technology allow just about anyone to create anything they want. If you can see it in your mind, you can create it - all you need is a computer.</p>-->

  <hr class="my-4">
  <p>I'll be working and posting my first project here. It's basically just a collection of links I think are worth sharing.</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="videos" role="button">Get Started</a>
  </p>
</div>

<% include layouts/footer %>