<% include layouts/header %>

      <div class="container">
        <h2>Startups Page</h2>
        <p><a href="https://levels.io/choosing-entrepreneurship/">Blog Post: Choosing Entrepreneurship - Pieter Levels</a><p>
        <p><a href="https://hackernoon.com/learn-to-code-in-2017-get-hired-and-have-fun-along-the-way-5ff4c1b1a790">Learn to Code in 2017</a></p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m3nb_Qj3mRA?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mi1cYUMVIQ8?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aXlTOUQ4aEg?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZwCfo_4z0-4?ecver=1" frameborder="0" allowfullscreen></iframe>
        
      </div>

<% include layouts/footer %>