<% include layouts/header %>

<h2>Taxes Page</h2>

<h3>Links</h3>
<ul>
  <li>
    <a href="https://www.reddit.com/r/Entrepreneur/comments/2tuvy6/to_llc_or_not_to_llc/">To LLC or not to LLC</a>
  </li>
</ul>

<h3>Infographic</h3>
<div class="container">
  <a href="http://www.topaccountingdegrees.org/taxes/">
    <img src="http://www.topaccountingdegrees.org/taxes/rich.jpg" 
         alt="How The Super Rich Avoid Paying Taxes" width="500"  border="0" />
  </a>
  <br />
  Source: <a href="http://www.topaccountingdegrees.org/taxes/rich.jpg">TopAccountingDegrees.org</a>
</div>

<% include layouts/footer %>