<% include layouts/header %>

      <div class="container">
        <h2>Tennis Page</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zZEYXz5ZF1A?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pDpxCr4y-Iw?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oUIa6-wQADA?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XAYbygk-ljc?ecver=1" frameborder="0" allowfullscreen></iframe>
      </div>

<% include layouts/footer %>