  <% include ./layouts/header %>  
      

        <h2>Videos Page!</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/FZzKhfYNYoQ?ecver=1" frameborder="0" allowfullscreen></iframe>  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Xbp6umQT58A?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gg23Y9Ua4qE?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OfW8d7NEN9g?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4IYOZ6H0UNk?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/w4HGVJjqDVk?ecver=1" frameborder="0" allowfullscreen></iframe>
        
        <h3>Philosophical</h2>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XWWVa2fZLPI?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-GaJ7SfnK38?ecver=1" frameborder="0" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fP4hxYfonZQ?ecver=1" frameborder="0" allowfullscreen></iframe>

  
<% include ./layouts/footer %>  
  